.cell {
    height:70px;
    width:70px;
    font-size: 55px;
    text-align:center;
    border: 0px;
    cursor: pointer;
    border:1px solid #e2e2e2;
}
.alternate-bg {
    background-color:#0f5f04;
}
.table {
    border: 1px solid #000000;
}
.selectedcell {
    background-color: #fa1109;
}